<%= form_with(model: arquivo, local: true) do |form| %>
  <% if arquivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arquivo.errors.count, "error") %> prohibited this arquivo from being saved:</h2>

      <ul>
      <% arquivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect2">Selecionar Licensas</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>CC0</option>
      <option>BY	</option>
      <option>BY-SA</option>
      <option>BY-NC	</option>
      <option>BY-ND</option>
      <option>BY-NC-SA</option>
      <option>BY-NC-ND</option>
    </select>
  </div>

  <div class="input-group">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01"
      aria-describedby="inputGroupFileAddon01">
    <label class="custom-file-label" for="inputGroupFile01">Selecionar Arquivo</label>
  </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', root_url %>
