<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link">
      <%= link_to 'Home', root_url %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
      <%= link_to 'Arquivos', arquivos_url %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link">
      <%= link_to "Log Out", logout_path %>
      </a>
    </li>
  </ul>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
  </tr>
  <tr>
  <center><%= link_to "Cadastrar novo Arquivo", arquivos_new_url %></center>
  </tr>
  <% @arquivos.each do |arquivo| -%>

  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= arquivo.nome %></td>
    </tr>
    
  </tbody>
  <% end -%>
</table>